body {
  background-color: #fff;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.NavLink {
  font-size: 20px;
  color: currentColor;
}

.NavLink--active {
  color: rgb(98, 190, 190);
}
